<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-29815d0d-b918-420b-a297-9b72183d5139;AttachDbFilename=|DataDirectory|\aspnet-Website-29815d0d-b918-420b-a297-9b72183d5139.mdf;Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>
  <!-- Create the connection string to your database -->
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
