<connectionStrings>
  <!-- This is the original connectionstring for DefaultConnection that came witht he website
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-29815d0d-b918-420b-a297-9b72183d5139;AttachDbFilename=|DataDirectory|\aspnet-Website-29815d0d-b918-420b-a297-9b72183d5139.mdf;Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>-->
  <!-- Create the connection string to your database -->
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <!-- Setting up the connection string for the security tables so that they are in the same database as the company data -->
  <add name="DefaultConnection"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
